# Ignore all dotfiles
# E.g. .settings, .history, .idea, .idea_modules, .classpath
.*

# but don't ignore .gitignore
!.gitignore

/target
/log

# ignore source files in the dev and base folder (default package)
/src/main/java/dev/*.java
/src/main/java/*.java

# properties file
app.properties
app.auto.properties

# Logback configs (see https://logback.qos.ch)
/src/main/resources/logback.xml
/src/main/resources/logback-test.xml



